<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Itinerary name</mat-label>
      <input matInput placeholder="name" [(ngModel)]="itineraryName">
    </mat-form-field>
    <div class="flex-wrapper">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let itinerary of itineraries">
      <mat-card>
        {{itinerary.name}}
        <button class="load-button" mat-mini-fab color="primary" (click)="load(itinerary.id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
        </button>
      </mat-card>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-search-form (submitForm)="getWeatherData($event)"></app-search-form>
    <app-weather-table [weatherDays]="weatherDays"></app-weather-table>
  </mat-sidenav-content>
</mat-sidenav-container>
