.sidenav-container {
  height: 100%;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
}

mat-divider {
  margin: 20px;
}

mat-card {
  color: grey;
  margin: 10px 0;
  height: 40px;
}
.load-button {
  float: right;
}
